<html>
<head>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body> 
<div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/search">Search</a>
        <a href="/browse_patient">Patients</a>
        <a href="/browse_doctor">Doctors</a>
        <a href="/browse_nurse">Nurses</a>
        <a href="/browse_office">Offices</a>
        <a href="/browse_manager">Managers</a>
	    <a href="/browse_assignment">Assignments</a>
    </div>

<h3>Add assignment:</h3>
<form id="addassignment" action="/add_assignment" method="post">
    Doctor: <select name="doctorID">
        {% for doctor in doctors %}
          <option value="{{ doctor['id'] }}">{{ doctor['fname'] }} {{ doctor['lname'] }}</option>
        {% endfor %}
        </select><br>
    Office: <select name="officeID">
        {% for office in offices %}
          <option value="{{ office['id'] }}">{{ office['name'] }}</option>
        {% endfor %}
        </select><br>
    
    </select><br>
    <input type="submit" value="Submit">
 </form>
<br/>
</body> 
</html>
