<html>
<head>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body> 
<div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/search">Search</a>
        <a href="/browse_patient">Patients</a>
        <a href="/browse_doctor">Doctors</a>
        <a href="/browse_nurse">Nurses</a>
        <a href="/browse_office">Offices</a>
        <a href="/browse_manager">Managers</a>
	    <a href="/browse_assignment">Assignments</a>
    </div>

<h3>Update doctor:</h3>
<form id="update_doctor" action="/update_doctor/{{doctor['id']}}" method="post">
<input type="hidden" name="doctor_id" value="{{ doctor['id'] }}">
First name: <input type="text" name="fname" value="{{ doctor['fname'] }}"><br>
Last name: <input type="text" name="lname" value="{{ doctor['lname'] }}"><br>
Phone Number: <input type="text" name="phoneNumber" value="{{ doctor['phoneNumber'] }}"><br>
Salary: <input type="number" name="salary" value="{{ doctor['salary'] }}"><br>
Nurse: <select name="nurseID">
            {% for nurse in nurses %}
                <option value="{{ nurse['id'] }}">{{ nurse['fname'] }} {{ nurse['lname'] }}</option>
            {% endfor %}
        </select>
<input type="submit" value="Submit">
</form>
<br/>
</body> 
</html>
