<html>
<head>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body> 
<div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/search">Search</a>
        <a href="/browse_patient">Patients</a>
        <a href="/browse_doctor">Doctors</a>
        <a href="/browse_nurse">Nurses</a>
        <a href="/browse_office">Offices</a>
        <a href="/browse_manager">Managers</a>
	    <a href="/browse_assignment">Assignments</a>
    </div>


<h3>Add new doctor:</h3>
<form id="adddoctor" action="/add_new_doctor" method="post">
    First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    Phone: <input type="text" name="phoneNumber"><br>
    Salary: <input type="text" name="salary"><br>
    Nurse: <select name="nurseID">
        {% for nurse in nurses %}
          <option value="{{ nurse['id'] }}">{{ nurse['fname'] }} {{ nurse['lname'] }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Submit">
 </form>
<br/>
</body> 
</html>
