<html>
<head>
  <title>OSU Health Clinics Database</title>
  <link rel="stylesheet" href="static/css/main.css">
</head>

<body>
  <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/browse_patient">Patients</a>
      <a href="/browse_doctor">Doctors</a>
      <a href="/browse_nurse">Nurses</a>
      <a href="/browse_office">Offices</a>
      <a href="/browse_manager">Managers</a>
	    <a href="/browse_assignment">Assignments</a>
  </div>


  <p>Welcome to the OSU Health Clinics Database</p>
  <p>Ready to go live!</p>
  <a href="browse_patient"><button>Patients</button></a>
  <a href="/browse_doctor"><button>Doctors</button></a>
  <a href="/browse_nurse"><button>Nurses</button></a>
  <a href="/browse_office"><button>Offices</button></a>
  <a href="/browse_manager"><button>Managers</button></a>

  <script src="js/main.js"></script>
</body>
</html>