<html>
<head>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body> 
<div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/search">Search</a>
        <a href="/browse_patient">Patients</a>
        <a href="/browse_doctor">Doctors</a>
        <a href="/browse_nurse">Nurses</a>
        <a href="/browse_office">Offices</a>
        <a href="/browse_manager">Managers</a>
	    <a href="/browse_assignment">Assignments</a>
    </div>

<h3>Update manager:</h3>
<form id="update_manager" action="/update_manager/{{manager['id']}}" method="post">
<input type="hidden" name="manager_id" value="{{ manager['id'] }}">
First name: <input type="text" name="fname" value="{{ manager['fname'] }}"><br>
Last name: <input type="text" name="lname" value="{{ manager['lname'] }}"><br>
Phone Number: <input type="text" name="phoneNumber" value="{{ manager['phoneNumber'] }}"><br>
Salary: <input type="number" name="salary" value="{{ manager['salary'] }}"><br>
<input type="submit" value="Submit">
</form>
<br/>
</body> 
</html>
