<html>
<head>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body> 
<div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/search">Search</a>
        <a href="/browse_patient">Patients</a>
        <a href="/browse_doctor">Doctors</a>
        <a href="/browse_nurse">Nurses</a>
        <a href="/browse_office">Offices</a>
        <a href="/browse_manager">Managers</a>
	    <a href="/browse_assignment">Assignments</a>
    </div>

<h3>Add new patient:</h3>
<form id="addpatient" action="/add_new_patient" method="post">
    First: <input type="text" name="fname"><br>
    Last: <input type="text" name="lname"><br>
    Phone: <input type="text" name="phoneNumber"><br>
    Street: <input type="text" name="street"><br>
    City: <input type="text" name="city"><br>
    State: <input type="text" name="state"><br>
    Zip: <input type="text" name="zip"><br>
    Birth Date: <input type="date" name="dob"><br>
    Weight: <input type="number" name="weight"><br>
    Doctor: <select name="doctorID">
        {% for doctor in doctors %}
          <option value="{{ doctor['id'] }}">{{ doctor['fname'] }} {{ doctor['lname'] }}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Submit">
 </form>
<br/>
</body> 
</html>
