<!-- Search Bar -->
<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="static/css/main.css">
        
        <style>
form.example input[type=text] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
button {
  float: left;
  width: 15%;
  padding: 10px;
  background: #8e969c;
  color: white;
  font-size: 14px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
button:hover {
  background: #69747e;
}
form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>
    </head>
    <body>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/browse_patient">Patients</a>
        <a href="/browse_doctor">Doctors</a>
        <a href="/browse_nurse">Nurses</a>
        <a href="/browse_office">Offices</a>
        <a href="/browse_manager">Managers</a>
	    <a href="/browse_assignment">Assignments</a>
    </div>

        <h1><center>Office Search</center></h1>
        <form class="example" method="post" action="/search_office"
        style="margin:auto;max-width:700px">
            <input type="text" placeholder="Search by name" name="office">
            <button>submit
            </button type="submit">

        </form>
        <p></p>
        <center>
        <table border>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>ZIP</th>
            <th>Manager</th>
        </thead>
        {% for office in search %}
        <tr>
            <td>{{ office['id'] }}</td>
            <td>{{ office['name'] }}</td>
            <td>{{ office['phoneNumber'] }}</td>
            <td>{{ office['street'] }}</td>
            <td>{{ office['city'] }}</td>
            <td>{{ office['state'] }}</td>
            <td>{{ office['zip'] }}</td>
            {% if not office['fname'] %}
                <td>None</td>
            {% else %}
                <td>{{ office['fname'] + " " + office['lname']}}</td>
            {% endif %}
            <td> <input type='button' name='Update' value='Update' onclick="window.location = '/update_office/{{ office['id'] }}'"> </td>
            <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_office/{{ office['id'] }}'"> </td>
        </tr>
        {% endfor %}
        </table>
        </center>
    
    </body>
</html>