<!-- Search Bar -->
<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="static/css/main.css">
        
        <style>
form.example input[type=text] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
button {
  float: left;
  width: 15%;
  padding: 10px;
  background: #8e969c;
  color: white;
  font-size: 14px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
button:hover {
  background: #69747e;
}
form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>
    </head>
    <body>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/browse_patient">Patients</a>
        <a href="/browse_doctor">Doctors</a>
        <a href="/browse_nurse">Nurses</a>
        <a href="/browse_office">Offices</a>
        <a href="/browse_manager">Managers</a>
	    <a href="/browse_assignment">Assignments</a>
    </div>

        <h1><center>Nurse Search</center></h1>
        <form class="example" method="post" action="/search_nurse"
        style="margin:auto;max-width:700px">
            <input type="text" placeholder="Search by first or last name" name="nurse">
            <button>submit
            </button type="submit">

        </form>
        <p></p>
        <center>
        <table border>
        <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Salary</th>
        </thead>
            
        {% for nurse in search %}
        <tr>
            <td>{{ nurse['id'] }}</td>
            <td>{{ nurse['fname'] }}</td>
            <td>{{ nurse['lname'] }}</td>
            <td>{{ nurse['phoneNumber'] }}</td>
            <td>{{ nurse['salary'] }}</td>
            <td> <input type='button' name='Update' value='Update' onclick="window.location = '/update_nurse/{{ nurse['id'] }}'"> </td>
            <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_nurse/{{ nurse['id'] }}'"> </td>
        </tr>
        {% endfor %}
        </table>
        </center>
    
    </body>
</html>